/* General Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.box-width {
    width: 1320px;
}

.flex__colamn {
    display: flex;
    flex-direction: column;
}

.flex__row {
    display: flex;
    align-items: center;
}



/* Typography */

h1 {
    font-size: 48px;
}

p {
    font-size: 14px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: #1A1A1A;
}


/* || header */

.start__header__container {
    background-color: #333333;
    color: #B3B3B3;
    justify-content: center;
    align-items: center;
    height: 42px;
}

.start__header__box {
    justify-content: space-between;
}

.header__box__location {
    gap: 8px;
}

.header__box__location + div {
    gap: 20px;
}

.middle__header__container {
    justify-content: center;
    align-items: center;
    height: 92px;
}

.middle__header__container > div {
    align-items: center;
    justify-content: space-between;
}

.middle__box__form > label {
    position: relative;
    left: 38px;
}

.header__input__text {
    padding: 13px 18px 13px 46px;
    border: 1px solid #cac4c4;
    border-radius: 4px 0 0 4px;
    width: 400px;
}

.middle__box__form {
    align-items: center;
}

.header__input__text + input {
    padding: 14px 24px;
    background-color: #00B207;
    color: #fff;
    border-radius: 0px 6px 6px 0px;
    border: 0;
}

.middle__box__form + div {
    color: #cccccc;
    align-items: center;
    gap: 16px;
}

.bag__with__two {
    gap: 12px;
    align-items: center;
    color: #1A1A1A;
}

.bag__with__two > div > span {
    color: #4D4D4D;
    font-size: 11px;
}




.nav__container {
    justify-content: center;
    height: 60px;
    align-items: center;
}

.nav__bar {
    gap: 32px;
    list-style: none;
    color: #666666;
}

.nav__bar a {
    color: #666666;
    text-decoration: unset;
}

.nav__bar a:focus, .nav__bar a:hover {
    color: #00B207;
}

.nav__container div {
    justify-content: space-between;
    align-items: center;
}

.nav__tel {
    align-items: center;
    gap: 8px;
    color: #1A1A1A;
    font-weight: 500;
}


/* || main */


/* article */

/* aside */

.acount-info__container {
    padding: 80px 0;
    justify-content: center;
}


.acount-info__aside--button {
    text-decoration: unset;
    color: #1A1A1A;
    align-items: center;
    opacity: 50%;
    background-color: #fff;
    padding: 16px 20px;
    width: 100%;
    gap: 10px;
}

.acount-info__aside button {
    background-color: #fff;
    border: 0;
}


.acount-info__aside--button:focus, .acount-info__aside--dashed-button {
    opacity: 100%;
    color: #1a1a1a;
    background-color: #EDF2EE;
    border-left: 3px solid #20B526;
}


.acount-info__aside-button:focus > .acount-info__aside--click {
    opacity: 100%;
}

.acount-info__box {
    gap: 24px;
    align-items: flex-start;
}

.box-border {
    border-radius: 8px;
    border: 1px solid #E6E6E6;
}

.acount-info__aside--no-click {
    all: unset;
    color: #666666;
}

.acount-info__aside{
    width: 312px;
}

.acount-info__aside h5 {
    padding: 16px 20px;
}



/* main article */

.acount-info__dashbroead-container {
    gap: 24px;
}

.acount-info__dashbroad-boxes {
    gap: 24px;
}

.acount-info__costumer-profill {
    padding: 32px;
    align-items: center;
    gap: 8px;
    width: 536px;
}

.acount-info__costumer-profill p {
    color: #808080;
}

.acount-info__costumer-profill div {
    align-items: center;
}

.acount-info__costumer-profill a {
    all: unset;
    color: #00B207;
    font-size: 16px;
    font-weight: 500;
}


.acount-info__costumer-info {
    width: 424px;
    padding: 32px;
    gap: 17px;
}

.acount-info__costumer-info > p {
    color: #999999;
    font-weight: 500;
}


.acount-info__costumer-info--div {
    gap: 8px;
    width: 264px;
}

.acount-info__costumer-info--div h6 {
    font-size: 18px;
}

.acount-info__costumer-info--div > p {
    color: #666666;
}

.acount-info__costumer-info--div > div {
    gap: 6px;
    color: #1A1A1A;
    font-size: 16px;
}


.acount-info__order-box {
    gap: 12px;
}

.acount-info__order-box--h5 {
    padding: 16px 24px 4px 24px;
    justify-content: space-between;
}

.acount-info__order-box--h5 a {
    all: unset;
    color: #00B207;
    font-size: 16px;
    font-weight: 500;
}

.order__ul {
    padding: 12px 24px;
    gap: 100px;
    list-style: none;
    color: #4D4D4D;
    background-color: #F2F2F2;
    font-size: 12px;
    font-weight: 500;
}

.order__ul li:nth-child(1) {
    width: 76px;
}

.order__ul li:nth-child(2) {
    width: 124px;
}

.order__ul li:nth-child(3) {
    width: 168px;
}

.order__ul li:nth-child(4) {
    width: 82px;
}

.order__ul li:nth-child(5) {
    width: 86px;
}

.order__ul li:nth-child(5) a {
    all: unset;
    color: #00B207;
    font-weight: 500;
    font-size: 14px;
}


.acount-info__order--ul {
    background-color: #fff;
    color: #333333;
}

.acount-info__order--end-ul {
    padding-bottom: 36px;
}




/* section */

.baner__container {
    justify-content: center;
    height: 120px;
    background-image: url("dashbroad-image/background-baner.png");
    background-repeat: no-repeat;
    background-position: center;
}

.baner__container > div {
    gap: 10px;
    font-weight: 400;
}

.baner__container h6 {
    color: #999;
}

.baner__container a {
    all: unset;
}

.baner__container .baner__a {
    color: #00B207;
}




/* section */


.end__section__container {
    justify-content: center;
    align-items: center;
    height: 162px;
    gap: 55px;
    background-color: #F7F7F7;
}

.end__section__box {
    justify-content: space-between;
    align-items: center;
}


.end__section__p {
    gap: 4px;
    width: 448px;
}

.end__section__p p {
    color: #999999;
}

.end__section__input {
    padding: 14px 24px;
    border-radius: 46px;
    width: 444px;
    border: 1px solid  #E6E6E6;
}

.end__section__input + input {
    padding: 14px 40px;
    border-radius: 46px;
    background-color: #00B207;
    color: #fff;
    border: 0;
    position: relative;
    right: 50px;
}

.social__buttons > button {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: unset;
}

.social__buttons > button:focus {
    background-color: #00B207;
    border-radius: 50%;
}

.social__buttons {
    gap: 8px;
}





/* footer */

.main__footer__container {
    align-items: flex-end;
    justify-content: center;
    background-color: #1A1A1A;
}

.main__footer__container > div {
    padding-top: 60px;
    gap: 60px;
}

.footer__logo__container, .footer__logo__text  {
    gap: 120px;
}

.footer__logo {
    gap: 16px;
    width: 336px;
    color: #808080;
}

.footer__logo img {
    width: 184px;
}

.footer__logo > div p {
    color: #FFFFFF;
    padding: 6px 0;
    border-bottom: 1px solid #20B526;
}

.footer__logo div {
    gap: 16px;
}

.footer__logo__text a {
    color: #999999;
    text-decoration: unset;
    font-size: 14px;
}

.footer__logo__text > div {
    gap: 16px;
}

.footer__logo__text ul {
    gap: 4px;
    list-style: none;
}

.footer__logo__text > div > h6 {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.footer__logo__text a:hover, .footer__logo__text a:focus {
    color: #fff;
}

.copyright__box {
    color: #808080;
    justify-content: space-between;
    padding: 24px 0;
    border-top: 1px solid #333;
}

.copyright__box > div {
    gap: 8px;
}