:root{
    --background-page:#f0f8ff;
    --background-card:#f0f8ff;
    --footer-background:#333333;
    --white-text-color:#808080 Scale/White;
    --black-text-color:#002603;
    --sticker-color:#00B207;
    --text-hover-color:#2C742F;
    --card-border-color:#E6E6E6;
    --header-text-not-hovered:#999999;
    --green-text:#00B207;
    --footer-background:#1A1A1A;
    --second-background:#EDF2EE;
    --discount-background:#EA4B481A;
    --discount:#EA4B48;

}